.Rproj.user
.Rhistory
.RData
.Ruserdata
.httr-oauth
google-analytics.html
upd/csv_how
upd/png_how
upd/time_series_19-covid-Confirmed_last.csv
upd/time_series_19-covid-Deaths_last.csv
upd/time_series_19-covid-Recovered_last.csv
upd/time_series_19-covid-Confirmed_US_last.csv
upd/time_series_19-covid-Deaths_US_last.csv
upd/time_series_19-covid-Recovered_US_last.csv
upd/corona_tweet.R
upd/.Rhistory
upd/.httr-oauth
upd/sandbox.R
sandbox.R
restart.txt
